@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

.toast {
  width: 220px;
  height: 80px;
  position: fixed;
  padding: 5px;
  top: 5px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.Toastify__toast {
  text-align: center;
  font-size: 1.2rem;
}
/*  */
.height {
  height: 100%;
}

/* VERTICAL ACCORDEON */
summary {
	&::marker {
		content: '';
	}
}

.accordeon-wrapper {
  display: flex;
  margin: 0 auto;
  width: max-content;
  border: 1px solid #3b82f6;
  border-radius: 2rem;
  gap: 1rem;
  padding: 0.7rem;
  margin-bottom: 1.5rem;
}

.accordeon-container {
  display: flex;
  flex-direction: column;
}

.accordeon-container p {
  width: 70%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  text-align: center;
}

.accordeon {
  display: flex;
  flex-direction: row;
  height: 30rem;
  border-radius: 2rem;
  overflow: hidden !important;
  position: relative;
  z-index: 1;
  margin-bottom: 0rem;
  transition: all 0.5s ease;
  padding: 0.1rem;
}

.accordeon:hover {
  border: 2px solid #3b82f6;
}

.accordeon summary {
  padding: 1rem 1em;
  width: 5rem;
  flex-shrink: 0;
  text-align: center;
  cursor: pointer;
}

.accordeon summary img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: filter 0.5s ease;
}

.accordeon[open] summary img {
  filter: brightness(0.5);
}
.details-content-wrapper {
  padding: 1.5rem 1em;
  width: 0;
  overflow: hidden;
  transition: width 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.accordeon[open] .details-content-wrapper {
  width: 300px;
  opacity: 1;
  background: transparent;
}

.details-content-wrapper p {
  transform: translateY(2rem);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition-delay: 0.5s;
}

.accordeon[open] .details-content-wrapper p {
  transform: translateY(0);
  opacity: 1;
  color: lightblue;
  font-size:15px;
  text-align: justify;
}
.accordeon[open] .details-content-wrapper h3 {
  transform: translateY(0);
  opacity: 1;
  color: lightblue;
  font-size: 18px;
  margin-bottom: 1rem;
  text-align: center;
}
.accordeon[open] .summary .icon {
  color: lightblue;
  border: 1px solid lightblue;
  transition: all 0.5s ease;
}

.accordeon[open] .summary .icon:hover {
  color: black;
  border: 1px solid black;
}
.icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  transition: all 0.5s ease;
}



/* ABOUT US */
.about-details {
  position: relative;
}

.about-details .is-open {
  display: none;
}
.about-details .is-closed {
  display: block;
  width: max-content;
  padding: 0.75rem 2rem;
  border: 1px solid black;
  border-radius: 0.2rem;
  cursor: pointer;
}

.about-details[open] .is-open {
  display: block;
  position: absolute;
  bottom: -1rem;
  left: 0;
  border: 1px solid black;
  padding: 0.75rem 2rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.about-details[open] .is-closed {
  display: none;
}

/* Stil pentru rezumat */
.about-summary {
  transition: color 0.5s ease, border 0.5s ease;
}
.about-summary:hover {
  color: blue;
  border: 1.2px solid black;
  width: max-content;
  border-radius: 0.2rem;
  color: #0ea5e9;
  
}

/* Conținutul detaliilor */
.about-details-content {
  overflow: hidden;
  transition: max-height 0.5s ease;
  max-height: 0; /* Ascunde conținutul inițial */
}

.about-details[open] .about-details-content {
  max-height: 500px; /* Înălțime suficientă pentru conținut */
}

/* Gradient de tranziție */
.about-details .details-content-wrapper::before {
  content: '';
  height: 3rem;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.about-details[open] .details-content-wrapper::before {
  opacity: 0;
}

/* TERMS & CONDITIONS */
.terms-container {
  padding: 16px;
}

.terms-content {
  padding-left: 16px;
}

.terms-details {
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  overflow: hidden;
}

.terms-summary {
  font-weight: bold;
  cursor: pointer;
  color: #333;
  padding: 8px 16px;
  background-color: #e7e7e7;
  border-bottom: 1px solid #ccc;
}

.terms-summary:hover {
  background-color: #dcdcdc;
}

.details-content-wrapper {
  padding: 12px 16px;
  background-color: #fff;
}

.details-text {
  text-align: justify;
  color: #555;
  margin: 0;
}








@media (max-width: 500px) {
  .flex-container {
    flex-direction: column;
  }
  .item {
    margin-bottom: 1rem;
  }
}



